<div class="col-8 offset-2">
  <div class="card">
    <table class="table card-table">
      <thead>
        <tr>
          <th>Build Number</th>
          <th>Status</th>
          <th>Branch</th>
          <th>Commit Author</th>
        </tr>
      </thead>
      <tbody id="builds">
        <%= render @builds %>
      </tbody>
    </table>
  </div>
</div>
